.calendar {
  position: relative;
  background: white;
  min-height: 9999px;
  max-width: 1000px;
  margin: 0 auto; }
  .calendar ol, .calendar li {
    position: absolute;
    top: 0;
    left: 0; }
  .calendar ol {
    width: 100%;
    top: -9999px; }
  .calendar li {
    display: block;
    width: 14.28571%;
    box-shadow: inset 0 0 2px #cccccc;
    background-color: rgba(0, 0, 0, 0.05);
    height: 100%; }
  .calendar .day-0 {
    left: 0%; }
  .calendar .day-1 {
    left: 14.28571%; }
  .calendar .day-2 {
    left: 28.57143%; }
  .calendar .day-3 {
    left: 42.85714%; }
  .calendar .day-4 {
    left: 57.14286%; }
  .calendar .day-5 {
    left: 71.42857%; }
  .calendar .day-6 {
    left: 85.71429%; }
