body {
  font-family: "helvetica neue", "Helvetica", sans-serif;
  color: #323232; }

.muted {
  color: #666666; }

.veryMuted {
  color: #999999; }

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0; }
