.block-display {
  position: relative;
  font-size: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .block-display b {
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 1px;
    user-select: none;
    font-weight: normal;
    font-size: 10px;
    line-height: 48px;
    color: transparent;
    text-align: right;
    padding-right: 3px;
    overflow: hidden;
    cursor: pointer; }
  .block-display b.pending {
    background-color: rgba(0, 0, 0, 0.1);
    border: 3px dotted rgba(0, 0, 0, 0.4); }
  .block-display b:hover {
    position: relative;
    box-shadow: inset 0 -12px 0 rgba(255, 255, 255, 0.6), 0 0 0 2px white, 0 5px 30px 5px rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.8);
    z-index: 1; }
