header {
  font-size: 15px;
  line-height: 30px;
  height: 30px;
  padding: 0 15px;
  color: #999999;
  background: #f2f2f2;
  border-bottom: #e5e5e5;
  margin-bottom: 2px; }
  header .title {
    font-size: 18px; }
  header .bitcoin-tip {
    color: #50c800;
    float: right; }
  header a {
    display: inline-block;
    height: 100%;
    color: #999999;
    text-decoration: none;
    margin-right: 10px;
    padding: 0 3px; }
  header a:hover {
    text-decoration: underline;
    background: rgba(0, 0, 0, 0.02); }
